body { margin: 0 auto; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li { float: left; }

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) { background-color: #111; }

/*a {
    color: blue;
    text-decoration: none;
}*/

img { max-width: 600px; }

ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

div.gallery {
    width: 1000px;
    margin-top: 50px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
}

.title {
    text-decoration: none;
    display: block;
    color: black;
}

.active { background-color: #4CAF50; }

.content { max-width: 600px; margin: auto; }

.nav { max-width: 1000px; margin: auto; text-decoration: none; }

.post { max-width: 1000px; margin: auto; }