body {
    margin: 0 auto;
}

.gallery {
    width: 1000px;
    margin-top: 30px;
}

.topnav {
    overflow: hidden;
    margin: auto;
    text-decoration: none;
    max-width: 1000px;
}

.topnav a,
.topnav button {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.home {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.nav {
    color: black;
    margin-top: 7px;
    font-size: 23px;
    text-decoration: none;
}

.title {
    text-decoration: none;
    height: 36px;
    display: block;
    color: black;
}

.date {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.post-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 1rem;
}

.post {
    max-width: 600px;
    margin: auto;
}

.post_list {
    max-width: 1000px;
    margin: auto;
}

.contact {
    max-width: 50px;
    margin-right: 30px;
}

img {
    max-width: 600px;
}
video {
    max-width: 600px;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol {
    list-style: none;
}
ol[start="2"] {
    counter-reset: counter 1;
}
ol li {
    counter-increment: counter;
    margin-bottom: 10px;
}
ol li::before {
    content: counter(counter) ".";
    padding-right: 5px;
}

@media only screen and (max-width: 800px) {
    .topnav .nav {
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
    }

    .topnav button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .topnav.responsive {
        position: relative;
        float: none;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .home {
        font-size: 25px;
        font-weight: bold;
    }

    .title {
        text-decoration: none;
        display: block;
        color: black;
    }

    .post {
        max-width: 97%;
        margin: auto;
    }

    .post-title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 1rem;
    }

    .post_list {
        margin-left: 3px;
    }

    .post_excerpt {
        display: none;
    }

    .nav {
        margin-top: 4px;
        font-size: 17px;
        text-decoration: none;
    }

    .gallery {
        width: 97%;
        margin-top: 20px;
    }

    img {
        max-width: 95%;
        display: block;
        margin: 0px auto;
    }

    video {
        max-width: 95%;
    }

    ol,
    ol li {
        margin-left: 0;
        padding-left: 0;
    }

    h1,
    .h1 {
        font-size: 2rem;
    }

    h2,
    .h2 {
        font-size: 1.5rem;
    }

    h3,
    .h3 {
        font-size: 1rem;
    }
}
