body { margin: 0 auto; }

/*a {
    color: blue;
    text-decoration: none;
}*/

img { max-width: 600px; }

ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

div.gallery {
    width: 1000px;
    margin-top: 30px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
}

.title {
    text-decoration: none;
    display: block;
    color: black;
}

.content { padding:20px; margin-top:30px; }

.post { max-width: 1000px; margin: auto; }

.post_excerpt { display: inline; }

.date { margin-top:1rem; margin-bottom: 1rem; font-size: 20px; }

ol {
  list-style: none;
}
ol[start="2"] {
  counter-reset: counter 1;
}
ol li {
  counter-increment: counter;
}
ol li::before {
  content: counter(counter) ".";
  font-size: 20px;
  font-weight: bold;
}

.topnav {
    overflow: hidden;
    margin: auto;
    text-decoration: none;
    max-width: 1600px;
    margin: auto; 
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.home {
    font-size: 30px;
    font-weight: bold;
}

.nav {
    margin-top: 7px;
    font-size: 23px;
    text-decoration: none;
}

/* For desktop:*/
@media only screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }

    .home {
        font-size: 25px;
        font-weight: bold;
    }

    .title {
        text-decoration: none;
        display: block;
        color: black;
    }

    .post { max-width: 500px; margin: auto; }

    .post_excerpt { display: none; }

    .content { padding:10px; margin-top:15px; }
}