body { margin: 0 auto; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li { float: left; }

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) { background-color: #111; }

img { max-width: 600px; }

a { color: blue }

code {
    background-color: beige;
    max-width: 600px;
}

ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

div.gallery {
    margin: 25px;
    border: 1px solid #ccc;
    width: 700px;
}

div.gallery p {
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 7px;
}

div.gallery:hover { background-color: beige; }

.dot {
    height: 25px;
    width: 25px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
}

.alink {
    text-decoration: none;
    display: block;
    color: black;
}

.active { background-color: #4CAF50; }
.content { max-width: 600px; margin: auto; }
.content-m { max-width: 700px; margin: auto; }
.content-n { max-width: 1000px; margin: auto; }