---
layout: default
title: Translate
---

<div class="content-m">
        {% for post in site.posts %}
            {% if post.category == "translate" %}
            <div class="gallery">
                <h1>
                    <a href="{{ post.url }}" title="{{ post.title }}" class="title">
                        {{ post.title }}
                    </a>
                </h1>
                <p>{{ post.date | date_to_string }}</p>
            </div>
            {% endif %}
        {% endfor %}
</div>