<!DOCTYPE html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
   
                <div class="topnav" id="myTopnav">
                    <a href="/" class="home">I AM HABI</a>
                        <a href="/translate/" class="nav">Translate</a>
                        <a href="/project/" class="nav">Project</a>
                        <a href="/book" class="nav">Book</a>
                        <a href="/about" class="nav">About</a>
                        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
                </div>

        <div>
            <div class="post">
                    {{ content }}
            </div>
        </div>
        
        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
        </script>

    </body>
</html>
