<!DOCTYPE html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        <nav>
            <ul>
                <div class="nav">
                    <li><a href="/">I AM HABI</a></li>
                    <div style="float:right;">
                        <li><a href="/translate/">Translate</a></li>
                        <li><a href="/project/">Project</a></li>
                        <li><a href="/book">Book</a></li>
                        <li><a href="/about">About</a></li>
                    </div>
                </div>
            </ul>
        </nav>
     
        <div style="padding:20px; margin-top:30px;">
            <div class="post">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
