<!DOCTYPE html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
   
        <div class="topnav" id="myTopnav">
            <a href="/" class="home">HABI</a>
            <a href="/translate/" class="nav">Translate</a>
            <a href="/project/" class="nav">Project</a>
            <a href="/book" class="nav">Book</a>
            <a href="/about" class="nav">About</a>
            <a href="javascript:void(0);" style="font-size:15px; color:black" class="icon" onclick="responsiveNav()">&#9776;</a>
        </div>

        <div>
            {{ content }}
        </div>

        <hr>
        <p style="text-align: center; color: #c8c8c8;">Copyright &copy; iamhabi 2020</p>
        
        <script>
            function responsiveNav() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
        </script>

    </body>
</html>